/* Global style */

body {
    /* Add colors */
    font-family: "Cabin Sketch", sans-serif ;
    text-align: center;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 3rem;
    background-color: lightblue;
}
/* Add Logo */

/* Rules */

.rules {
    background-color: lightcoral;
}


/* Game layout */

.game-area {
    box-sizing: border-box;
    /* Add measurement */
    background-color: lightgreen;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}



.card-area {
    background-color: lightsalmon;
}

.card {
    display: inline-block;
    padding: 10px;
}

.score-area {
    background-color: lightgoldenrodyellow;
}

.scores {
    display: inline-block;
    padding: 10px;
}


/* Buttons */

.btn {
    height: 85px;
    width: 85px;
    background-color: white;
    margin: 10px 10px;
    border-radius: 18%;
    border: 3px solid;
}

.icon-btn {
    font-size: xx-large;
}

.btn:active, .btn:hover {
    background-color: black;
    color: white;
} 


@media (max-width: 414px) {
    /* Add button, winner/loser message*/
    
    .controls-area {
        width: 100%;
    }

    .winner-loser {
        padding: 10% 0;
        width: 100%;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    /* Add button, winner/loser message*/

    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .winner-loser {
        padding: 10% 0;
    
    }
}


