/* Global style */

html {
    min-height: 100%;
    position: relative;
}

body {
    /* Add colors */
    font-family: "Cabin Sketch", sans-serif ;
    text-align: center;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 3rem;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
}

/* How to play */

.rules {
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.rules-toggle {
    display: inline-block;
}

.hidden{
    display: none !important;
}

#rules-list {
    list-style-type: none;
    padding-right: 50px;
    margin-bottom: 20px;
}

li {
    margin: 1px 2px;
    width: 100%;
    font-family: 'Nanum Pen Script', cursive;
    font-size: x-large; 
}

#game-mechanics {
    max-width: 80%;
    max-height: 80%;
}

/* Game Area */

.game-area {
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.controls-area {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.btn {
    height: 85px;
    width: 85px;
    background-color: white;
    margin: 10px 10px;
    border-radius: 50%;
    border: none;
    transition: all 0.5s;
    box-shadow:  9px 9px 18px #e0e0e0,
             -9px -9px 18px #ffffff;
    
}

.icon-btn {
    font-size: xx-large;
}

.misc-btn {
    background-color: white;
    border: none;
    font-size: x-large;
}

.fa-hand-back-fist {
    transform: rotate(90deg);
}

.btn:active, .btn:hover {
    background-color: black;
    color: white;
} 

/* Card Area */

.card-area {
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5%
}

.card {
    display: inline-block;
    transition: all 0.5s;
}

#player-card {
    max-width: 45%;
    max-height: 45%;
}


#computer-card {
    max-width: 45%;
    max-height: 45%;
}


img {
    width: 100%;
    height: auto;
}

.score-area {
    box-sizing: border-box;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%
}

.scores {
    display: inline-block;
    padding: 10px;
}

/* Media queries */

@media (max-width: 1040px) {
    .card {
        width: 45%;
        height: 45%;
    }
}


@media (max-width: 600px) {
    .btn {
        margin: 6px 6px;
        width: 50px;
        height: 50px;
        box-shadow:  4px 4px 9px #e0e0e0,
             -4px -4px 9px #ffffff;
    }

    .icon-btn {
        font-size: x-large;
    }

    .score-area {
        font-size: 80%;
        transition: all 0.5s;
    }

}

@media (max-width: 428px) {

    .btn {
        margin: 6px 6px;
        width: 40px;
        height:40px;
    }

    .icon-btn {
        font-size: large;
    }

    li {
        margin: 1px 2px;
        font-size: large; 
    }

    #game-mechanics {
        max-width: 60%;
        max-height: 60%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    /* Add button, winner/loser message*/

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .winner-loser {
        padding: 10% 0;
    
    }
}


